#cookies-consent {
    background-color: #2c3551;
    display: none;
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
    color: #fff;
    font-size: 15px;
}

input#clickMe {
    background-color: #5e688c;
    border: 0;
    margin: 5px;
    color: #ffffffe8;
}
